/* 
    General Styles
*/
@import url('https://fonts.cdnfonts.com/css/star-wars');

.layout {
  background-image: url("https://getwallpapers.com/wallpaper/full/a/0/0/30135.jpg");
  background-size: cover; 
  background-attachment: fixed;
}

.logo-container {
  font-size: 2rem; 
}

@media (max-width: 576px) {
  .logo-container {
    font-size: 0.8rem; 
  }
}

.navbar {
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  position: relative;
  display: block; 
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: rgba(255, 255, 255, 0.5);
}
form {
  position: relative;
}
.fa-magnifying-glass {
  position: absolute;
   width: 20px;
   height: 20px;
   right: 24px;
   top: 50%;
   transform: translateY(-50%);
}

.search-form {
  max-width: 230px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra blanca */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Borde blanco */
  transition: transform 0.3s ease; /* Transición suave */
}

@media (max-width: 576px) {
  .search-form {
    max-width: 130px;
  }
  .navbar-collapse {
    display: flex !important; /* Cambiado de block a flex para mantener los íconos en línea horizontal */
    justify-content: center; 
  }
  
  .navbar-nav {
    flex-direction: row; 
    align-items: center; 
    display: flex;
    justify-content: center; 
    
  }
  
  
  .nav-item {
    margin-right: 10px; 
  }
  
  .nav-link {
    padding: 0; 
  }
  
  .nav-link span {
    display: none; 
  }
}



.dropdown-menu {
  color: rgb(0, 0, 0);
}

.logo {
  font-family: 'Star Wars', sans-serif;
  font-size: 4em;
  line-height: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.logo:first-child {
  margin-top: 0.1em;
}

.fa-trash {
  color: #FFC107;
}

.dropdown-menu {
  position: absolute;
  right: 0;
}

.fav-text {
  font-family: monospace;
  font-size: larger;
}

h4 {
  display: inline;
  background-color: #FFC107;
  color: black;
  padding: 0.1em 0.2em;
  border-radius: 10%;
}

.nav-item {
  cursor: pointer;
  color: white;
}

.nav-link:hover {
  color: white;
  animation: glow 0.5s infinite alternate;
}

.nav-item:hover .item-glow {
  color: white;
  animation: glow 0.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

a.nav-link {
  color: white;
  font-size: 1.2em;
}

.single-card {
  border: 6px solid rgb(255, 190, 13);
  box-shadow: 0 0 10px 4px rgba(255, 190, 13, 0.8), 0 0 20px 8px rgba(255, 190, 13, 0.6);
}

.image {
  width: 300px;
}

.display-4 {
  font-family: monospace;
}

.properties {
  text-align: justify;
  color: #FFC107;
  font-size: larger;
  font-family: monospace;
}

.background-carousel {
  border: none;
  position: relative;
  overflow: hidden;
}

.background-carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #509fc9, #e83b59);
  opacity: 0.3; 
  z-index: 1;
}

.carousel-title {
  font-family: 'Star Wars', sans-serif;
  color: #FFF;
  width: 100%;
  background-color: #4a465850;
  padding-top: 5px;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  display: none;
}

.more {
  color: black;
  font-family: 'Star Wars', sans-serif;
}

h2 {
  font-family: 'Star Wars', sans-serif;
}

.text-back {
  background-color: #0f151ba6;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
  
}

.content-wrapper {
  display: flex;
}

.scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.card {
  width: 286px;
  display: inline-block;
  margin-right: 10px; 
  background-color: #1D1E1F;
  color: white;
  z-index: 2;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card img{
  min-height: 300px;
  object-fit: scale-down;
  object-position: bottom;
}

.card:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

ul,
li {
  list-style:none
}

.fa-heart {
  font-size: 2em;
  background-color: transparent;
  border: 1px, solid yellow;
}

a .dropdown-item {
  color: black; 
}

.dropdown-item {
  font-family: monospace;
}

.buttons {
  gap: 3em;
}

.card-group {
  display: flex; 
  justify-Content: center; 
  flex-Wrap: nowrap; 
  overflow-X: auto;
}

.card-header {
  font-size: x-large;
  font-family: monospace;
}
/*
.social{
  color: white;
  font-size: 1.5em;
}*/

.fa-brands {
  color: #fff; /* Color del texto */
  font-size: 1.5em;
  text-decoration: none; /* Quita el subrayado predeterminado */
  transition: box-shadow 0.3s ease; /* Solo animar el efecto de sombra */
}


.fa-brands:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8), 
  0 0 20px 4px rgba(255, 255, 255, 0.6), 
  0 0 30px 6px rgba(255, 255, 255, 0.4), 
  0 0 40px 8px rgba(255, 255, 255, 0.2), /* Efecto de brillo */
  0 0 0 0px #ffe81f; /* Borde amarillo */
border-radius: 10px; /* Borde redondeado */
}


.index-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
